.below-btn{
    width: 70%;
    /* border: 1px solid red; */
    margin: auto;
  background-image: url(4\ \(2\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  border-radius: 30px;
}
.servs{
margin-left:7% ;
font-size: 2vw;
}
.line{
  width: 90%;
  height: 2px;
  background: rgb(255, 255, 255);
  margin: auto;
}
.our{
  display: flex;
  justify-content: space-between;
}
.short-text{
  width: 40%;
  font-size: 3vw;
  margin-top: 3vh;
  margin-left: 2vw;
}
.para{
width: 60%;
  font-size: 1vw;
  margin-top: 5vh;
}
.pic{width: 90%;
display: flex;
gap: 2vw;
align-items: center;
margin: auto;
margin-top: 20vh;
text-align: center;
font-size: 1.5vw;
font-weight: 900;
/* background: white; */
color: rgb(0, 0, 0);
cursor: pointer;
    /* border: 1px solid red; */

}
.pic img{
  width: 20vw ;
  
}
.bg{
margin-bottom: 5vh;
 
  background: rgb(255, 255, 255);
}
.experiences{
  text-align: center;
  margin-top: 10vw;
  
}

.experiences p{
  font-size: 1.5vw;
  width: 60%;
}
.ri-bubble-chart-line{
  font-size: 5vw;
  color: orange;
 width: 40%;
 
}
.exp{ 
 
  /* border: 1px solid red; */
  display: flex;
justify-content: space-between ;
align-items: center;
width: 70%;
margin: auto;
margin-top: 10vh;



}
.p{
  color: rgba(0, 0, 0, 0.63);
 text-align: justify;
 font-size: 1.5;
}
