@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@700&family=Poppins:ital@1&display=swap');

*{
    padding: 0%;
    margin: 0%;
}
html,body{
    width: 100%;
    /* height: 0%; */
    /* background: #000; */
    /* overflow: hidden; */
}
.nav{
    margin-top: 5px;
    
}
.maine{
    display: flex;

}
.about{
    font-family: 'Merriweather', serif;
    margin-top: 10%;
    margin-left: 5%;
    border-bottom: 2px solid rgb(76, 7, 104);
    width: 20%;

}
.para{
    width: 60%;
    margin-left: 10%;
    margin-top: 5%;
    text-align:justify ;
    line-height: 23px;
    /* border: 1px solid red; */

}
.marg{
    margin-top: 1%;
    width: 60%;
    margin-left: 10%;
    /* margin-top: 5%; */
    text-align:justify ;
    line-height: 23px;
    /* border: 1px solid red; */
   
}

.image{
    width: 120vw;
    height: 40vh;
    /* border: 1px solid red; */
    /* align-self:end; */
    margin-top: 10%;
    margin-left: 0%;
    margin-right: 4%;

}
.im{
    width: 100%;
    height: 100%;
    margin-top: 12vh;
    
   
}
.image h2{

    text-transform:capitalize ;
    text-align: center;
    font-family: 'Merriweather', serif;
    border-bottom: 1px solid black;
}
.ceo{
    width: 65%;
    height: 80%;
    border-radius: 10vh;
    border: 1px solid black;
    margin: auto;
    margin-left: 60px;
}
@media screen and (max-width:850px) {
    .maine{
        display: flex;
    flex-direction: column;
    }
    .about{
        font-family: 'Merriweather', serif;
        margin-top: 10%;
        margin-left: 5%;
        border-bottom: 2px solid rgb(76, 7, 104);
        width: 38%;
    
    }
    .para{
        width: 70%;
        margin-left: 10%;
        margin-top: 5%;
        text-align:justify ;
        line-height: 23px;
        /* border: 1px solid red; */
    
    }
    .marg{
        margin-top: 1%;
        width: 70%;
        margin-left: 10%;
        /* margin-top: 5%; */
        text-align:justify ;
        line-height: 23px;
        /* border: 1px solid red; */
       
    }
    
    .image{
        display: flex;
        flex-direction: column;
       align-items: center;
       justify-content: center;
       align-content: center;
        width: 100%;
        height: 0%;
        /* align-self:end; */
        margin-top: 10%;
        margin-left: 0%;
        margin-right: 4%;
    
    }
    .im{
        width: 80%;
       height: 00%;
        margin-top: 12vh;
        border: 1px solid black;
       
        
       
    }
    .image h2{
    font-size: 5vw;
        text-transform:capitalize ;
        text-align: center;
        font-family: 'Merriweather', serif;
        border-bottom: 1px solid black;
    }
    .ceo{

        width: 30%;
        height: 30%;
        margin-left: 35%;
        border-radius: 4vh;
        border: 1px solid black;
       
    } 
}