@media screen and (max-width:700px) {
    .below-btn{
        width: 90%;
        /* border: 1px solid red; */
        margin: auto;
        margin-top: 10vh;
      background-image: url(4\ \(2\).jpg);
      background-repeat: no-repeat;
      background-size: cover;
      color: rgb(255, 255, 255);
      border-radius: 30px;
    }
    .servs{
    margin-left:7% ;
    font-size: 7vw;
    }
    .line{
      width: 90%;
      height: 5px;
      background: rgb(255, 255, 255);
      margin: auto;
    }
    .our{
      display: flex;
      justify-content:center;
      flex-direction: column;
    }
    .short-text{
      width: 100%;
      font-size: 5vw;
      margin-top: 3vh;
      margin-left: 7vw;
    }
    .para{
    width: 80%;
      font-size: 4vw;
      margin-top: 5vh;
      text-align: justify;
      margin-left: 4vw;
    }
    .pic{width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-items: center;
    margin: auto;
    margin-top: 10vh;
    text-align: center;
    font-size: 6vw;
    font-weight: 900;
    /* background: white; */
    color: rgb(0, 0, 0);
    cursor: pointer;
        /* border: 1px solid red; */
    
    }
    .pic img{
      width: 90vw ;
      
    }
    .bg{
    margin-bottom: 5vh;
     
      background: rgb(255, 255, 255);
    }
    /* *********************************************************************************************************** */
    .experiences{
      margin-left: 12vw;
      margin-top: 20vw;
     
    }
    
    .experiences p{
      font-size: 6vw;
      width: 100%;
      text-align: justify;
    }
    .ri-bubble-chart-line{
      font-size: 17vw;
      color: orange;
     width: 40%;
     
    }
    .exp{ 
      
      /* border: 1px solid red; */
      display: flex;
      flex-direction: column;
    justify-content: space-between ;
    align-items: center;
    width: 98%;
    margin: auto;
    margin-top: 10vh;
    
    
    
    }
    .p{
      color: rgba(0, 0, 0, 0.63);
   text-align: justify;
   font-size: 2vw;
    }
    
}